$phone: 520px;
$tabletPort: 768px;
$tabletLand: 1024px;
$desktop: 1280px;
$LGdesktop: 1920px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;

  .file-explorer {
    height: 100vh;
    flex: 1;
    background-color: rgb(37, 37, 38);

    .file-explorer-header {
      height: 5vh;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgb(200, 200, 200);
      font-size: 0.8rem;
      display: flex;
      @media screen and (max-width: $tabletPort) {
        justify-content: center;
      }
    }

    .files {
      .file {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover {
          background-color: rgb(45, 45, 45);
        }
        padding: 20px 20px;
        height: 2rem;
        display: flex;
        align-items: center;
        @media screen and (max-width: $tabletPort) {
          display: flex;
          justify-content: center;
          height: 4rem;
        }

        .file-icon {
          height: 1.5rem;
          width: 1.5rem;
          @media screen and (max-width: $tabletPort) {
            height: 2rem;
            width: 2rem;
          }
        }
        .file-name {
          padding: 0 12px;
          font-size: 1rem;
          color: rgb(200, 200, 200);
          @media screen and (max-width: $tabletPort) {
            display: none;
          }
        }
      }
    }
  }

  .right-pane {
    flex: 4;

    .code-editor-pane {
      .file-name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        background-color: rgb(51, 51, 51);
        color: rgb(200, 200, 200);
        cursor: pointer;
      }

      .code-editor {
        // height: 45vh;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
      }

      .code-editor.big {
        height: 45vh;
      }
    }

    .live-view {
      &.small {
        height: 50vh;
      }

      height: 100vh;

      .errors-container {
        background-color: rgb(53, 53, 53);
        padding: 30px;
        height: 50vh;

        .failed-header {
          font-size: 2rem;
          color: rgb(232, 59, 70);
        }

        .errors {
          margin: 20px 0;
          padding: 10px;
          background-color: rgb(69, 50, 52);
          border-radius: 10px;

          .error {
            list-style-type: none;
            color: rgb(252, 207, 207);
          }
        }
      }
    }
  }
}
