$phone: 520px;
$tabletPort: 768px;
$tabletLand: 1024px;
$desktop: 1280px;
$LGdesktop: 1920px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;

  .file-explorer {
    height: 100vh;
    flex: 1;
    background-color: rgb(37, 37, 38);
    position: relative;

    .file-explorer-header {
      height: 5vh;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgb(200, 200, 200);
      font-size: 0.8rem;
      display: flex;
      @media screen and (max-width: $tabletPort) {
        justify-content: center;
      }
    }

    .files {
      .file {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 20px 20px;
        height: 2rem;
        display: flex;
        align-items: center;
        &:hover {
          background-color: rgb(45, 45, 45);
        }
        &.active {
          background-color: rgb(51, 51, 51);
        }
        @media screen and (max-width: $tabletPort) {
          display: flex;
          justify-content: center;
          height: 4rem;
        }

        .file-icon {
          height: 1.5rem;
          width: 1.5rem;
          @media screen and (max-width: $tabletPort) {
            height: 2rem;
            width: 2rem;
          }
        }
        .file-name {
          padding: 0 12px;
          font-size: 1rem;
          color: rgb(200, 200, 200);
          @media screen and (max-width: $tabletPort) {
            display: none;
          }
        }
      }
    }
    .share-btn-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      .share-btn {
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        background-color: rgb(0, 122, 204);
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
          background-color: rgb(0, 112, 194);
        }
      }
    }
  }

  .overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 0.8;
    &.close {
      display: none;
    }
  }

  .share {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    &.close {
      display: none;
    }

    .share-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid rgb(0, 122, 204);
      .share-header-text {
        font-size: 2rem;
        font-weight: bold;
        color: rgb(0, 122, 204);
      }
      .close-btn {
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
        opacity: 0.8;
        border-radius: 50%;
        &:hover {
          opacity: 1;
          background-color: rgba(0, 122, 204, 0.1);
        }
        img {
          padding: 0 1rem;
          height: 1rem;
        }
      }
    }
    .copy-link-container {
      margin-top: 1rem;
      .copy-link-text {
        font-size: 1.5rem;
      }
      .copy-link-box {
        background-color: rgb(30, 30, 30);
        height: 3rem;
        border-radius: 10px;
        margin-top: 0.5rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          color: rgb(200, 200, 200);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        img {
          height: 1.2rem;
          width: 1.2rem;
          cursor: pointer;
        }
      }
    }
  }

  .right-pane {
    flex: 4;

    .code-editor-pane {
      .code-editor-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5vh;
        background-color: rgb(51, 51, 51);
        color: rgb(200, 200, 200);
        cursor: pointer;

        .file-name {
          height: 5vh;
          display: flex;
          align-items: center;
          padding: 0 20px;
          background-color: rgb(30, 30, 30);
          span {
            display: flex;
            align-items: center;
            .file-name-icon {
              height: 1rem;
              width: 1rem;
              margin-right: 0.5rem;
            }
          }
        }

        .code-editor-toggle {
          height: 5vh;
          display: flex;
          align-items: center;
          margin-right: 20px;
          img {
            transform: rotate(-90deg);
            height: 1rem;
            width: 1rem;
            transition: 0.5s;
            &.collapsed {
              transform: rotate(90deg);
            }
          }
        }
      }

      .code-editor {
        height: 0;
        transition: 0.5s;
        overflow: hidden;
        background-color: rgb(30, 30, 30);
      }

      .code-editor.big {
        height: 45vh;
      }
    }

    .live-view {
      &.small {
        height: 50vh;
      }

      height: 100vh;

      .errors-container {
        background-color: rgb(53, 53, 53);
        padding: 30px;
        height: 50vh;

        .failed-header {
          font-size: 2rem;
          color: rgb(232, 59, 70);
        }

        .errors {
          margin: 20px 0;
          padding: 10px;
          background-color: rgb(69, 50, 52);
          border-radius: 10px;

          .error {
            list-style-type: none;
            color: rgb(252, 207, 207);
          }
        }
      }
    }
  }
}
